/* Reset some default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2C3E50, rgba(0, 0, 0, 0.9));
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('backgroundMain.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 0 0 200px 0;
}

.titre {
    width: 100%;
}

.description {
    text-align: center;
    background-color: white;
    color: black;
}

h1 {
    font-size: 36px;
    background: -webkit-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    width: 100%;
}

p {
    font-size: 18px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 15px 0;
}

nav a {
    text-decoration: none;
    color: #FE6B8B;
    margin: 0 20px;
}

.features {
    min-height: 30vh; /* Utilisez 70% de la hauteur de la fenêtre du navigateur */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.feature {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    padding: 10px;
}

.feature-left {
    flex-direction: row;
}

.feature-right {
    flex-direction: row-reverse;
}

.feature img {
    max-width: 100%;
    width: 40%;
    margin: 0 20px;
}

.feature-details {
    flex: 1;
}

.feature-details h2 {
    text-align: center;
    vertical-align: top;
    font-size: 5vw;
}

.feature-details p {
    text-align: center;
    vertical-align: top;
    font-size: 3vw;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
}

#contentContainer > div {
    display: none;
}

.allButton img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

.allButton img.active-image {
    width: 60px;
    height: 60px;
}

.github-link {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}

.holberton-text {
    color: red;
    transition: font-size 0.2s;
}

.holberton-text:hover {
    font-size: 1.2em; /* Augmente la taille du texte au survol */
}